.App-main {
  color: #0c3885;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

.App-picture img {
  margin-top: 2em;
  margin-bottom: 1em;
}

.App-title {
  font-weight: 600;
  font-size: 2em;
  text-align: center;
  margin-top: 0.5em;
}
